:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f7df1e;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  margin: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  position: fixed;
  background: var(--main-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 80px;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
}

/* menu hamburguesa */

#menu {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  position: absolute;
  left: 15px;
  top: 15px;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
  top: auto;
  bottom: 0;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.13s;
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: "";
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: black;
}

.hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    opacity 0.1s linear;
  bottom: -10px;
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: black;
}

.hamburger.is-active .hamburger-inner {
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s,
    transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(-90deg);
}

.hamburger.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s linear 0.22s;
  opacity: 0;
}

body.open-menu header {
  background: transparent;
}

body.open-menu header h1 {
  font-size: 0px;
}

/* Elementos menu */

nav.elements-menu {
  position: fixed;
  background: white;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  transform: translate(-100%, 0);
  opacity: 0;
}

nav.elements-menu.open {
  transition: transform 0.3s ease, opacity 0.8s ease;
  transform: translate(0, 0);
  left: 0;
  overflow-y: scroll;
  opacity: 1;
}

nav.elements-menu.open ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0;
}

nav.elements-menu.open ul li {
  list-style: none;
  height: 50px;
  font-size: 25px;
  border-bottom: 1px solid var(--main-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 135px;
}

nav.elements-menu.open ul li:hover {
  background: var(--main-color);
  cursor: pointer;
}

nav.elements-menu.open ul li:hover a {
  font-weight: bold;
}

nav.elements-menu.open ul li a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Secciones */

h1 {
  margin-bottom: 0;
}

.seccion {
  border-bottom: 5px solid var(--main-color);
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box-btns {
  margin-bottom: 20px;
}

.form-clock {
  background: black;
  color: white;
  text-align: center;
  height: 40px;
  font-size: 20px;
  padding: 10px 20px;
}

.stage {
  display: flex;
  min-height: 50vh;
  background-color: var(--second-color);
  min-width: calc(100% - 60px);
  outline: 5px solid white;
}

.stage .ball {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--main-color);
}

/* Go to top */
button.goToTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--main-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  opacity: 1;
}

button.goToTop:hover{
  background-color: var(--second-color);
  color: var(--main-color);
}

button.goToTop span {
  font-size: 30px;
}

button.goToTop.hidden {
  visibility: hidden;
  opacity: 0;
}

button.dark-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border: none;
  background: var(--second-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--main-color);
}

.dark-theme {
  background-color: var(--second-color);
  color: var(--main-color);
}

.dark-theme header h1 {
  color:var(--second-color);
}