:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f7df1e;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  margin: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  position: fixed;
  background: var(--main-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 80px;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
}

/* menu hamburguesa */

#menu {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  position: absolute;
  left: 15px;
  top: 15px;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
  top: auto;
  bottom: 0;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.13s;
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: "";
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: black;
}

.hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    opacity 0.1s linear;
  bottom: -10px;
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: black;
}

.hamburger.is-active .hamburger-inner {
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s,
    transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(-90deg);
}

.hamburger.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s linear 0.22s;
  opacity: 0;
}

body.open-menu header {
  background: transparent;
}

body.open-menu header h1 {
  font-size: 0px;
}

/* Elementos menu */

nav.elements-menu {
  position: fixed;
  background: white;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  transform: translate(-100%, 0);
  opacity: 0;
}

nav.elements-menu.open {
  transition: transform 0.3s ease, opacity 0.8s ease;
  transform: translate(0, 0);
  left: 0;
  overflow-y: auto;
  opacity: 1;
  z-index: 99;
}

nav.elements-menu.open ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0;
}

nav.elements-menu.open ul li {
  list-style: none;
  height: 50px;
  font-size: 25px;
  border-bottom: 1px solid var(--main-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

nav.elements-menu.open ul li:hover {
  background: var(--main-color);
  cursor: pointer;
}

nav.elements-menu.open ul li:hover a {
  font-weight: bold;
}

nav.elements-menu.open ul li a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Secciones */

h1 {
  margin-bottom: 0;
}

.seccion {
  border-bottom: 5px solid var(--main-color);
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box-btns {
  margin-bottom: 20px;
}

.form-clock {
  background: black;
  color: white;
  text-align: center;
  height: 40px;
  font-size: 20px;
  padding: 10px 20px;
}

.stage {
  display: flex;
  min-height: 50vh;
  background-color: var(--second-color);
  min-width: calc(100% - 60px);
  outline: 5px solid white;
}

.stage .ball {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--main-color);
}

/* Go to top */
button.goToTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  left: 85px;
  background: var(--main-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  opacity: 1;
}

button.goToTop:hover{
  background-color: var(--second-color);
  color: var(--main-color);
}

button.goToTop span {
  font-size: 30px;
}

button.goToTop.hidden {
  visibility: hidden;
  opacity: 0;
}

button.dark-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border: none;
  background: var(--second-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--main-color);
}

.dark-theme {
  background-color: var(--second-color);
  color: var(--main-color);
}

.dark-theme header h1 {
  color:var(--second-color);
}

/* Network Status */

.network-notification {
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 35%;
}

.online {
  background-color: #1b5e20;
}

.offline {
  background-color: #b71c1c;
}

/* filters */

figure.gallery-card {
  border: 1px solid black;
  font-weight: bold;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-out;
}
section#gallery-cards {
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

figure.gallery-card.hide {
  opacity: 0;
  visibility: hidden;
  order: 1;
}

.boxSearch span {
  position: absolute;
  right: 0;
  font-size: 21px;
  color: var(--second-color);
  cursor: pointer;
}

.boxSearch {
  position: relative;
}

/* Responsive slider */

.slider {
  position: relative;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 500px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
  opacity: 0;
  visibility: hidden;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-slide img{
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 0%;
  /* object-fit: contain; */
}

.slider-btns {
  position: absolute;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: space-between ;
}

.slider-btns span {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: white;
  color: #000;
  transition: all 0.03s ease;
}

.slider-btns a:hover {
  color: #4d4d4d;
}

/* Scroll Spy */
@media screen and (min-width: 1024px) {

  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows:  4rem auto;
    grid-template-areas: "header header" "main panel";
  }

  main {
    grid-area: main;
  }

  header {
    grid-area: header;
  }

  nav.scrollspy {
    grid-area: panel;
    position: fixed;
    top: 80px;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    right: 0;
    width: 20%;
    bottom: 0;
  }

  nav.scrollspy ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    top: 80px;
  }

  nav.scrollspy ul li {
    list-style: none;
    height: 30px;
    padding: 0;
    margin-left: 0;
    width: 100%;
    text-align: right;
    height: 45px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  nav.scrollspy ul li a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  nav.scrollspy ul li:hover,
  nav.scrollspy ul li.active {
  background-color: var(--main-color);
  cursor: pointer;
  }

  nav.scrollspy ul li:hover a,
  nav.scrollspy ul li.active a {
   color: var(--second-color);
   font-weight: bold;
  }

}


 /* seccion 13 */

 .IO-box {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IO-box video {
  width: 100%;
}

/* on the top element add class seccion 14*/
.onTopElement {
  background-color: red;
}

/* **********     ContactForm Validations     ********** */
.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form textarea {
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.contact-form *::placeholder {
  color: #000;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}