body {
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.none {
    display: none;
}

.tacos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tacos>* {
  flex-basis: calc(20% - 30px);
  margin: 15px;
  min-width: 300px;
}

.taco {
  background-color: crimson;
  color: chartreuse;
  font-size: 125%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.taco:hover {
  opacity: .9;
  transform: scale(.9);
}

.taco img {
  max-width: 100%;
  height: auto;
}

.taco figcaption {
  padding: 1rem;
}